logicapp/complete-workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {
        "gmail": {
          "connectionId": "/subscriptions/b58b1820-35f0-4271-99be-7c84d4dd40f3/resourceGroups/logicapp-jasmin-catering_group/providers/Microsoft.Web/connections/gmail-mabu-mate",
          "connectionName": "gmail-mabu-mate",
          "id": "/subscriptions/b58b1820-35f0-4271-99be-7c84d4dd40f3/providers/Microsoft.Web/locations/westeurope/managedApis/gmail"
        },
        "slack": {
          "connectionId": "/subscriptions/b58b1820-35f0-4271-99be-7c84d4dd40f3/resourceGroups/logicapp-jasmin-catering_group/providers/Microsoft.Web/connections/slack-mabured",
          "connectionName": "slack-mabured", 
          "id": "/subscriptions/b58b1820-35f0-4271-99be-7c84d4dd40f3/providers/Microsoft.Web/locations/westeurope/managedApis/slack"
        }
      },
      "type": "Object"
    }
  },
  "triggers": {
    "When_a_new_email_arrives_(V3)": {
      "recurrence": {
        "frequency": "Minute",
        "interval": 1
      },
      "evaluatedRecurrence": {
        "frequency": "Minute",
        "interval": 1
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['gmail']['connectionId']"
          }
        },
        "method": "get",
        "path": "/v3/Mail/OnNewEmail",
        "queries": {
          "emailAddress": "mabu.mate@gmail.com",
          "fetchOnlyWithAttachments": false,
          "includeAttachments": false,
          "subjectFilter": "All"
        }
      },
      "splitOn": "@triggerBody()?['value']"
    }
  },  "actions": {
    "Parse_Email_Content": {
      "runAfter": {},
      "type": "Compose",
      "inputs": {
        "emailId": "@triggerBody()?['id']",
        "subject": "@triggerBody()?['subject']",
        "from": "@triggerBody()?['from']",
        "body": "@triggerBody()?['body']",
        "receivedDateTime": "@triggerBody()?['receivedDateTime']",
        "bodyPreview": "@triggerBody()?['bodyPreview']"
      }
    },
    "Format_Slack_Message": {
      "runAfter": {
        "Parse_Email_Content": ["Succeeded"]
      },
      "type": "Compose",
      "inputs": {
        "text": "📧 New Email for Jasmin Catering\n\nFrom: @{triggerBody()?['from']}\nSubject: @{triggerBody()?['subject']}\nReceived: @{triggerBody()?['receivedDateTime']}\nEmail ID: @{triggerBody()?['id']}\n\nPreview: @{triggerBody()?['bodyPreview']}\n\n🤖 Next Steps: This email will be processed by the Jasmin Catering AI Agent for automatic quote generation."
      }
    },
    "Send_Slack_Message": {
      "runAfter": {
        "Format_Slack_Message": ["Succeeded"]
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['slack']['connectionId']"
          }
        },
        "method": "post",
        "path": "/chat.postMessage",
        "body": {
          "channel": "#gmail-inbox",
          "text": "@{outputs('Format_Slack_Message')}"
        }
      }
    }
  },
  "outputs": {}
}