logicapp/office365-slack-workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {
        "office365": {
          "connectionId": "/subscriptions/b58b1820-35f0-4271-99be-7c84d4dd40f3/resourceGroups/logicapp-jasmin-catering_group/providers/Microsoft.Web/connections/office365-jasmin",
          "connectionName": "office365-jasmin",
          "id": "/subscriptions/b58b1820-35f0-4271-99be-7c84d4dd40f3/providers/Microsoft.Web/locations/westeurope/managedApis/office365"
        }
      },
      "type": "Object"
    }
  },
  "triggers": {
    "When_a_new_email_arrives_(V3)": {
      "recurrence": {
        "frequency": "Minute",
        "interval": 1
      },
      "evaluatedRecurrence": {
        "frequency": "Minute",
        "interval": 1
      },
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "method": "get",
        "path": "/v2/Mail/OnNewEmail",
        "queries": {
          "fetchOnlyWithAttachments": false,
          "includeAttachments": false,
          "importance": "Any"
        }
      },
      "splitOn": "@triggerBody()?['value']"
    }
  },
  "actions": {
    "Parse_Email_Content": {
      "runAfter": {},
      "type": "Compose",
      "inputs": {
        "emailId": "@triggerBody()?['Id']",
        "subject": "@triggerBody()?['Subject']",
        "from": "@triggerBody()?['From']",
        "body": "@triggerBody()?['Body']",
        "receivedDateTime": "@triggerBody()?['DateTimeReceived']",
        "bodyPreview": "@triggerBody()?['BodyPreview']"
      }
    },
    "Format_Slack_Message": {
      "runAfter": {
        "Parse_Email_Content": ["Succeeded"]
      },
      "type": "Compose",
      "inputs": {
        "text": "📧 New Email for Jasmin Catering",
        "blocks": [
          {
            "type": "header",
            "text": {
              "type": "plain_text",
              "text": "📧 New Email for Jasmin Catering"
            }
          },
          {
            "type": "section",
            "fields": [
              {
                "type": "mrkdwn",
                "text": "*From:* @{triggerBody()?['From']}"
              },
              {
                "type": "mrkdwn",
                "text": "*Subject:* @{triggerBody()?['Subject']}"
              },
              {
                "type": "mrkdwn",
                "text": "*Received:* @{triggerBody()?['DateTimeReceived']}"
              },
              {
                "type": "mrkdwn",
                "text": "*Email ID:* @{triggerBody()?['Id']}"
              }
            ]
          },
          {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": "*Preview:*\\n@{triggerBody()?['BodyPreview']}"
            }
          },
          {
            "type": "divider"
          },
          {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": "🤖 *Next Steps:* This email will be processed by the Jasmin Catering AI Agent for automatic quote generation."
            }
          }
        ]
      }
    },
    "Send_to_Slack_via_Webhook": {
      "runAfter": {
        "Format_Slack_Message": ["Succeeded"]
      },
      "type": "Http",
      "inputs": {
        "method": "POST",
        "uri": "https://hooks.slack.com/services/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",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": "@outputs('Format_Slack_Message')"
      }
    }
  },
  "outputs": {}
}