deployments/archive/logic-apps/email-processor-workflow-rag.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "apiKey": {
        "type": "securestring",
        "defaultValue": "@{parameters('apiKey')}"
      },
      "searchKey": {
        "type": "securestring",
        "defaultValue": "@{parameters('searchKey')}"
      }
    },
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Minute",
          "interval": 5
        }
      }
    },
    "actions": {
      "Initialize_Email_Queue": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{
            "name": "EmailQueue",
            "type": "array",
            "value": [
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-001')}",
                "from": "kunde@example.com",
                "to": "ma3u-test@email.de",
                "subject": "Catering Anfrage für Firmenevent",
                "body": "Guten Tag,\n\nwir planen ein Event für 50 Personen am 15. August 2025 in Berlin.\nBitte um ein Angebot für syrisches Catering mit vegetarischen Optionen.\n\nBudget: ca. 2000 EUR\n\nMit freundlichen Grüßen",
                "receivedTime": "@{utcNow()}"
              },
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-002')}",
                "from": "bride@example.com",
                "to": "ma3u-test@email.de",
                "subject": "Hochzeits-Catering",
                "body": "Liebe Jasmin Catering,\n\nwir heiraten am 20. September und suchen Catering für 80 Gäste.\nFingerfood und Desserts wären toll.\n\nVielen Dank!",
                "receivedTime": "@{utcNow()}"
              },
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-003')}",
                "from": "other@example.com",
                "to": "info@example.com",
                "subject": "Andere Email",
                "body": "Diese Email sollte ignoriert werden.",
                "receivedTime": "@{utcNow()}"
              }
            ]
          }]
        },
        "runAfter": {}
      },
      "Filter_Target_Emails": {
        "type": "Query",
        "inputs": {
          "from": "@variables('EmailQueue')",
          "where": "@equals(item()['to'], 'ma3u-test@email.de')"
        },
        "runAfter": {
          "Initialize_Email_Queue": ["Succeeded"]
        }
      },
      "Process_Filtered_Emails": {
        "type": "Foreach",
        "foreach": "@body('Filter_Target_Emails')",
        "actions": {
          "Search_Knowledge_Base": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://jasmin-catering-search.search.windows.net/indexes/jasmin-catering-knowledge/docs/search?api-version=2023-11-01",
              "headers": {
                "Content-Type": "application/json",
                "api-key": "@parameters('searchKey')"
              },
              "body": {
                "search": "@{items('Process_Filtered_Emails')['body']}",
                "searchMode": "all",
                "queryType": "simple",
                "select": "title,content,category",
                "top": 5
              }
            }
          },
          "Generate_AI_Response_With_RAG": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://jasmin-catering-resource.cognitiveservices.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-02-01",
              "headers": {
                "Content-Type": "application/json",
                "api-key": "@parameters('apiKey')"
              },
              "body": {
                "messages": [
                  {
                    "role": "system",
                    "content": "Sie sind ein AI-Agent für Jasmin Catering, ein Familienbetrieb in Berlin, der sich auf syrische Fusion-Küche spezialisiert hat. Sie haben Zugriff auf eine Wissensdatenbank mit Menüs, Preisen und Vorlagen durch das RAG-System.\n\nVerwenden Sie IMMER die Informationen aus der Wissensdatenbank für:\n- Aktuelle Menü-Optionen und Beschreibungen\n- Korrekte Preisberechnung\n- Bewährte E-Mail-Vorlagen\n- Geschäftsbedingungen\n\nErstellen Sie drei strukturierte Catering-Angebote basierend auf den verfügbaren Dokumenten.\n\nWissensdatenbank-Kontext:\n@{string(body('Search_Knowledge_Base'))}"
                  },
                  {
                    "role": "user",
                    "content": "Erstelle DREI verschiedene Angebote (Basis, Standard, Premium) für:\n\nVon: @{items('Process_Filtered_Emails')['from']}\nBetreff: @{items('Process_Filtered_Emails')['subject']}\n\nAnfrage:\n@{items('Process_Filtered_Emails')['body']}\n\nBitte verwende die Informationen aus der Wissensdatenbank für Menü-Details, Preise und Email-Format."
                  }
                ],
                "temperature": 0.3,
                "max_tokens": 2500
              }
            },
            "runAfter": {
              "Search_Knowledge_Base": ["Succeeded"]
            }
          },
          "Store_Enhanced_Email_Draft": {
            "type": "Compose",
            "inputs": {
              "emailId": "@{items('Process_Filtered_Emails')['id']}",
              "originalEmail": "@items('Process_Filtered_Emails')",
              "knowledgeBaseResults": "@body('Search_Knowledge_Base')",
              "draftResponse": "@{body('Generate_AI_Response_With_RAG')?['choices'][0]['message']['content']}",
              "processedAt": "@{utcNow()}",
              "status": "enhanced_draft_created",
              "ragEnabled": true
            },
            "runAfter": {
              "Generate_AI_Response_With_RAG": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Filter_Target_Emails": ["Succeeded"]
        }
      },
      "Create_Enhanced_Summary": {
        "type": "Compose",
        "inputs": {
          "runId": "@{workflow().run.name}",
          "totalEmails": "@length(variables('EmailQueue'))",
          "filteredEmails": "@length(body('Filter_Target_Emails'))",
          "targetAddress": "ma3u-test@email.de",
          "ragEnabled": true,
          "knowledgeBaseUsed": "jasmin-catering-knowledge",
          "processedAt": "@{utcNow()}"
        },
        "runAfter": {
          "Process_Filtered_Emails": ["Succeeded", "Failed", "Skipped"]
        }
      }
    },
    "outputs": {}
  }
}