deployments/logic-apps/corrected-email-workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "apiKey": {
        "type": "securestring",
        "defaultValue": "@{parameters('apiKey')}"
      }
    },
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "action": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "actions": {
      "Initialize_Test_Inquiries": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{
            "name": "TestInquiries",
            "type": "array",
            "value": [
              {
                "from": "matthias.buchhorn@web.de",
                "to": "ma3u-test@email.de",
                "subject": "Catering für Sommerfest - 30 Personen",
                "body": "Guten Tag,\n\nwir benötigen Catering für unser Sommerfest am 20. Juli 2025.\n- 30 Personen\n- Berlin Prenzlauer Berg\n- Vegetarische Optionen wichtig\n\nBitte um Angebot.\n\nMfG, Matthias Buchhorn"
              },
              {
                "from": "matthias.buchhorn@web.de",
                "to": "ma3u-test@email.de",
                "subject": "Geschäftsessen für VIP Kunden",
                "body": "Sehr geehrtes Jasmin Catering Team,\n\nfür ein wichtiges Geschäftsessen mit internationalen Kunden benötigen wir erstklassiges Catering:\n- 15 Personen\n- 25. Juli 2025, 19 Uhr\n- Gehobenes Ambiente\n- Budget: 70€ p.P.\n- Besonderheit: 2 vegane Gäste\n\nFreundliche Grüße,\nMatthias Buchhorn"
              },
              {
                "from": "matthias.buchhorn@web.de",
                "to": "ma3u-test@email.de",
                "subject": "Geburtstagsfeier 50. Geburtstag",
                "body": "Hallo liebes Team,\n\nich plane eine große Geburtstagsfeier.\n- Datum: 1. August 2025\n- 60 Gäste\n- Mix aus syrischen Spezialitäten\n- Location: Wannsee\n- Auch Kinderteller benötigt\n\nWas können Sie uns anbieten?\n\nViele Grüße,\nMatthias"
              },
              {
                "from": "matthias.buchhorn@web.de",
                "to": "ma3u-test@email.de",
                "subject": "Team Event - Casual Lunch",
                "body": "Hi,\n\nunser Startup Team möchte ein entspanntes Lunch:\n- 25 Personen\n- 10. August 2025\n- Budget: 30€ p.P.\n- Viele Entwickler = viel Hunger :)\n- Gerne Fingerfood und Wraps\n\nKönnt ihr was machen?\n\nBeste Grüße,\nMatthias"
              },
              {
                "from": "matthias.buchhorn@web.de",
                "to": "ma3u-test@email.de",
                "subject": "Hochzeit Schwester - Probe Dinner",
                "body": "Sehr geehrte Damen und Herren,\n\nmeine Schwester heiratet und wir brauchen Catering für das Probe Dinner:\n- 40 Personen\n- 14. September 2025\n- Elegantes Dinner\n- Syrisch-Deutsche Fusion erwünscht\n- Budget: 55€ pro Person\n\nBitte um detailliertes Angebot mit Weinempfehlungen.\n\nMit freundlichen Grüßen,\nMatthias Buchhorn"
              }
            ]
          }]
        },
        "runAfter": {}
      },
      "Process_Each_Inquiry": {
        "type": "Foreach",
        "foreach": "@variables('TestInquiries')",
        "actions": {
          "Generate_Catering_Response": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://swedencentral.api.cognitive.microsoft.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-02-01",
              "headers": {
                "Content-Type": "application/json",
                "api-key": "@parameters('apiKey')"
              },
              "body": {
                "messages": [
                  {
                    "role": "system",
                    "content": "Du bist der Kundenberater von Jasmin Catering, einem syrischen Fusion-Catering in Berlin. Erstelle professionelle, personalisierte Angebote auf Deutsch für Catering-Anfragen.\n\nWichtige Informationen:\n- Preise: 25-35€ (Basis), 35-45€ (Standard), 50-70€ (Premium) pro Person\n- Liefergebiet: Berlin und Umgebung (bis 50km)\n- Spezialität: Syrische Fusion-Küche\n- Optionen: Halal, vegetarisch, vegan verfügbar\n- Mindestbestellung: 10 Personen\n\nErstelle immer drei Angebotsoptionen und gehe auf spezifische Wünsche ein. Schließe mit einer Einladung zum persönlichen Gespräch.\n\nDer Kunde heißt immer Herr Buchhorn (Matthias Buchhorn)."
                  },
                  {
                    "role": "user",
                    "content": "Erstelle ein professionelles Angebot für folgende Anfrage:\n\nBetreff: @{items('Process_Each_Inquiry')['subject']}\n\nAnfrage:\n@{items('Process_Each_Inquiry')['body']}\n\nErstelle ein persönliches Angebot mit drei Optionen. Beginne mit 'Sehr geehrter Herr Buchhorn,' und verwende einen freundlichen, professionellen Ton."
                  }
                ],
                "temperature": 0.3,
                "max_tokens": 2000
              }
            }
          },
          "Create_Response_Email": {
            "type": "Compose",
            "inputs": {
              "from": "ma3u-test@email.de",
              "to": "matthias.buchhorn@web.de",
              "subject": "Re: @{items('Process_Each_Inquiry')['subject']} - Ihr Angebot von Jasmin Catering",
              "body": "@{body('Generate_Catering_Response')?['choices'][0]['message']['content']}\n\n--\nJasmin Catering\nSyrische Fusion-Küche für Ihre besonderen Anlässe\nTel: 030-12345678\nE-Mail: ma3u-test@email.de\nWeb: www.jasmincatering.de",
              "originalInquiry": "@items('Process_Each_Inquiry')",
              "timestamp": "@{utcNow()}"
            },
            "runAfter": {
              "Generate_Catering_Response": ["Succeeded"]
            }
          },
          "Log_Email_Transaction": {
            "type": "Compose",
            "inputs": {
              "status": "Response prepared",
              "inquiry": {
                "from": "@{items('Process_Each_Inquiry')['from']}",
                "to": "@{items('Process_Each_Inquiry')['to']}",
                "subject": "@{items('Process_Each_Inquiry')['subject']}"
              },
              "response": {
                "from": "@{outputs('Create_Response_Email')['from']}",
                "to": "@{outputs('Create_Response_Email')['to']}",
                "subject": "@{outputs('Create_Response_Email')['subject']}"
              },
              "processedAt": "@{utcNow()}"
            },
            "runAfter": {
              "Create_Response_Email": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Initialize_Test_Inquiries": ["Succeeded"]
        }
      },
      "Summary_Response": {
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "message": "Test inquiries processed successfully",
            "emailFlow": {
              "inquiries": "FROM: matthias.buchhorn@web.de → TO: ma3u-test@email.de",
              "responses": "FROM: ma3u-test@email.de → TO: matthias.buchhorn@web.de"
            },
            "totalProcessed": "@length(variables('TestInquiries'))",
            "processedAt": "@{utcNow()}"
          }
        },
        "runAfter": {
          "Process_Each_Inquiry": ["Succeeded"]
        }
      }
    },
    "outputs": {}
  }
}