deployments/logic-apps/email-integration-workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "apiKey": {
        "type": "securestring",
        "defaultValue": "@{parameters('apiKey')}"
      }
    },
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "action": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "actions": {
      "Send_Test_Emails": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{
            "name": "TestEmails",
            "type": "array",
            "value": [
              {
                "to": "ma3u-test@email.de",
                "from": "kunde1@example.com",
                "subject": "Catering für Sommerfest - 30 Personen",
                "body": "Guten Tag,\n\nwir benötigen Catering für unser Sommerfest am 20. Juli 2025.\n- 30 Personen\n- Berlin Prenzlauer Berg\n- Vegetarische Optionen wichtig\n\nBitte um Angebot.\n\nMfG, Lisa Weber"
              },
              {
                "to": "ma3u-test@email.de",
                "from": "event@firma.de",
                "subject": "Geschäftsessen für 15 Personen",
                "body": "Sehr geehrtes Team,\n\nfür ein wichtiges Geschäftsessen benötigen wir Catering:\n- 15 Personen\n- 25. Juli 2025, 19 Uhr\n- Gehobenes Ambiente erwünscht\n- Budget: 60€ p.P.\n\nFreundliche Grüße"
              },
              {
                "to": "ma3u-test@email.de",
                "from": "familie.mueller@web.de",
                "subject": "Geburtstagsfeier Catering",
                "body": "Hallo,\n\nwir feiern den 70. Geburtstag meines Vaters.\n- Datum: 1. August 2025\n- 50 Gäste\n- Mix aus traditionell und modern\n- Ort: Wannsee\n\nWas können Sie uns anbieten?\n\nDanke, Familie Müller"
              },
              {
                "to": "ma3u-test@email.de",
                "from": "verein@kultur.org",
                "subject": "Catering für Vereinsfest",
                "body": "Liebes Jasmin Catering Team,\n\nunser Kulturverein plant ein Fest:\n- 80-100 Personen\n- 10. August 2025\n- Kleines Budget (25€ p.P.)\n- Fingerfood bevorzugt\n\nBitte um günstige Optionen.\n\nVG, Kulturverein e.V."
              },
              {
                "to": "ma3u-test@email.de",
                "from": "startup@tech.io",
                "subject": "Regelmäßiges Lunch Catering",
                "body": "Hi,\n\nwir suchen einen Caterer für regelmäßige Lunches:\n- 2x pro Woche\n- Je 20 Personen\n- Gesunde, moderne Küche\n- Start: August 2025\n\nKönnen Sie das anbieten?\n\nBeste Grüße, TechStartup GmbH"
              }
            ]
          }]
        },
        "runAfter": {}
      },
      "Process_Each_Email": {
        "type": "Foreach",
        "foreach": "@variables('TestEmails')",
        "actions": {
          "Generate_AI_Response": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://swedencentral.api.cognitive.microsoft.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-02-01",
              "headers": {
                "Content-Type": "application/json",
                "api-key": "@parameters('apiKey')"
              },
              "body": {
                "messages": [
                  {
                    "role": "system",
                    "content": "Du bist der Kundenberater von Jasmin Catering, einem syrischen Fusion-Catering in Berlin. Erstelle professionelle, personalisierte Angebote auf Deutsch für Catering-Anfragen.\n\nWichtige Informationen:\n- Preise: 25-35€ (Basis), 35-45€ (Standard), 50-70€ (Premium) pro Person\n- Liefergebiet: Berlin und Umgebung (bis 50km)\n- Spezialität: Syrische Fusion-Küche\n- Optionen: Halal, vegetarisch, vegan verfügbar\n- Mindestbestellung: 10 Personen\n\nErstelle immer drei Angebotsoptionen und gehe auf spezifische Wünsche ein. Schließe mit einer Einladung zum persönlichen Gespräch."
                  },
                  {
                    "role": "user",
                    "content": "Erstelle ein professionelles Angebot für:\n\nVon: @{items('Process_Each_Email')['from']}\nBetreff: @{items('Process_Each_Email')['subject']}\n\nAnfrage:\n@{items('Process_Each_Email')['body']}\n\nErstelle ein Angebot mit drei Optionen. Beginne direkt mit 'Sehr geehrte/r...' ohne Betreffzeile."
                  }
                ],
                "temperature": 0.3,
                "max_tokens": 2000
              }
            }
          },
          "Create_Email_Response": {
            "type": "Compose",
            "inputs": {
              "to": "matthias.buchhorn@web.de",
              "from": "ma3u-test@email.de",
              "subject": "Re: @{items('Process_Each_Email')['subject']} - Angebot Jasmin Catering",
              "body": "@{body('Generate_AI_Response')?['choices'][0]['message']['content']}",
              "originalFrom": "@{items('Process_Each_Email')['from']}",
              "timestamp": "@{utcNow()}"
            },
            "runAfter": {
              "Generate_AI_Response": ["Succeeded"]
            }
          },
          "Log_Response": {
            "type": "Compose",
            "inputs": {
              "status": "Response created",
              "originalEmail": "@items('Process_Each_Email')",
              "responseEmail": "@outputs('Create_Email_Response')",
              "processedAt": "@{utcNow()}"
            },
            "runAfter": {
              "Create_Email_Response": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Send_Test_Emails": ["Succeeded"]
        }
      },
      "Summary": {
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "message": "Email processing completed",
            "totalEmails": "@length(variables('TestEmails'))",
            "processedAt": "@{utcNow()}",
            "note": "Responses prepared for matthias.buchhorn@web.de. To actually send emails, SMTP configuration is required."
          }
        },
        "runAfter": {
          "Process_Each_Email": ["Succeeded"]
        }
      }
    },
    "outputs": {}
  }
}