deployments/logic-apps/email-processor-workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "apiKey": {
        "type": "securestring",
        "defaultValue": "@{parameters('apiKey')}"
      }
    },
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Minute",
          "interval": 5
        }
      }
    },
    "actions": {
      "Initialize_Email_Queue": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{
            "name": "EmailQueue",
            "type": "array",
            "value": [
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-001')}",
                "from": "kunde@example.com",
                "to": "ma3u-test@email.de",
                "subject": "Catering Anfrage für Firmenevent",
                "body": "Guten Tag,\n\nwir planen ein Event für 50 Personen am 15. August 2025 in Berlin.\nBitte um ein Angebot für syrisches Catering.\n\nMit freundlichen Grüßen",
                "receivedTime": "@{utcNow()}"
              },
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-002')}",
                "from": "other@example.com",
                "to": "info@example.com",
                "subject": "Andere Email",
                "body": "Diese Email sollte ignoriert werden.",
                "receivedTime": "@{utcNow()}"
              }
            ]
          }]
        },
        "runAfter": {}
      },
      "Filter_Target_Emails": {
        "type": "Query",
        "inputs": {
          "from": "@variables('EmailQueue')",
          "where": "@equals(item()['to'], 'ma3u-test@email.de')"
        },
        "runAfter": {
          "Initialize_Email_Queue": ["Succeeded"]
        }
      },
      "Process_Filtered_Emails": {
        "type": "Foreach",
        "foreach": "@body('Filter_Target_Emails')",
        "actions": {
          "Generate_AI_Response": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://swedencentral.api.cognitive.microsoft.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-02-01",
              "headers": {
                "Content-Type": "application/json",
                "api-key": "@parameters('apiKey')"
              },
              "body": {
                "messages": [
                  {
                    "role": "system",
                    "content": "Du bist der Kundenberater von Jasmin Catering, einem syrischen Fusion-Catering in Berlin. Erstelle professionelle Angebote auf Deutsch für Catering-Anfragen. Berechne Preise mit ca. 35-45€ pro Person."
                  },
                  {
                    "role": "user",
                    "content": "Erstelle ein Angebot für:\n\nVon: @{items('Process_Filtered_Emails')['from']}\nBetreff: @{items('Process_Filtered_Emails')['subject']}\n\nAnfrage:\n@{items('Process_Filtered_Emails')['body']}"
                  }
                ],
                "temperature": 0.3,
                "max_tokens": 1500
              }
            }
          },
          "Store_Email_Draft": {
            "type": "Compose",
            "inputs": {
              "emailId": "@{items('Process_Filtered_Emails')['id']}",
              "originalEmail": "@items('Process_Filtered_Emails')",
              "draftResponse": "@{body('Generate_AI_Response')?['choices'][0]['message']['content']}",
              "processedAt": "@{utcNow()}",
              "status": "draft_created"
            },
            "runAfter": {
              "Generate_AI_Response": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Filter_Target_Emails": ["Succeeded"]
        }
      },
      "Create_Summary": {
        "type": "Compose",
        "inputs": {
          "runId": "@{workflow().run.name}",
          "totalEmails": "@length(variables('EmailQueue'))",
          "filteredEmails": "@length(body('Filter_Target_Emails'))",
          "targetAddress": "ma3u-test@email.de",
          "processedAt": "@{utcNow()}"
        },
        "runAfter": {
          "Process_Filtered_Emails": ["Succeeded", "Failed", "Skipped"]
        }
      }
    },
    "outputs": {}
  }
}