deployments/logic-apps/email-processor-workflow-foundry.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "apiKey": {
        "type": "securestring",
        "defaultValue": "@{parameters('apiKey')}"
      }
    },
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Minute",
          "interval": 5
        }
      }
    },
    "actions": {
      "Initialize_Email_Queue": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{
            "name": "EmailQueue",
            "type": "array",
            "value": [
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-001')}",
                "from": "kunde@example.com",
                "to": "ma3u-test@email.de",
                "subject": "Catering Anfrage für Firmenevent",
                "body": "Guten Tag,\n\nwir planen ein Event für 50 Personen am 15. August 2025 in Berlin.\nBitte um ein Angebot für syrisches Catering mit vegetarischen Optionen.\n\nBudget: ca. 2000 EUR\n\nMit freundlichen Grüßen",
                "receivedTime": "@{utcNow()}"
              },
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-002')}",
                "from": "bride@example.com",
                "to": "ma3u-test@email.de",
                "subject": "Hochzeits-Catering",
                "body": "Liebe Jasmin Catering,\n\nwir heiraten am 20. September und suchen Catering für 80 Gäste.\nFingerfood und Desserts wären toll.\n\nVielen Dank!",
                "receivedTime": "@{utcNow()}"
              },
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-003')}",
                "from": "other@example.com",
                "to": "info@example.com",
                "subject": "Andere Email",
                "body": "Diese Email sollte ignoriert werden.",
                "receivedTime": "@{utcNow()}"
              }
            ]
          }]
        },
        "runAfter": {}
      },
      "Filter_Target_Emails": {
        "type": "Query",
        "inputs": {
          "from": "@variables('EmailQueue')",
          "where": "@equals(item()['to'], 'ma3u-test@email.de')"
        },
        "runAfter": {
          "Initialize_Email_Queue": ["Succeeded"]
        }
      },
      "Process_Filtered_Emails": {
        "type": "Foreach",
        "foreach": "@body('Filter_Target_Emails')",
        "actions": {
          "Generate_AI_Response_With_RAG": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://jasmin-catering-resource.cognitiveservices.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-02-01",
              "headers": {
                "Content-Type": "application/json",
                "api-key": "@parameters('apiKey')"
              },
              "body": {
                "messages": [
                  {
                    "role": "system",
                    "content": "Sie sind ein AI-Agent für Jasmin Catering, ein Familienbetrieb in Berlin, der sich auf syrische Fusion-Küche spezialisiert hat. Sie haben Zugriff auf eine Wissensdatenbank (AgentVectorStore_20651) mit drei Hauptdokumenten:\n\n1. 'Catering Agent für Fadi - Beschreibung' (343.49 KB) - Geschäftsprozess & 3-Angebote-System\n2. 'Full Menu and Food and Drinks Options' (54.83 KB) - Komplette Menü-Auswahl\n3. 'JC-Email-Template.pdf' (63.51 KB) - E-Mail-Vorlagen\n\nVerwenden Sie IMMER die Informationen aus der Wissensdatenbank für authentische Menü-Items, korrekte Preisberechnung und professionelle E-Mail-Formatierung. Erstellen Sie drei strukturierte Catering-Angebote (Basis/Standard/Premium) auf Deutsch."
                  },
                  {
                    "role": "user",
                    "content": "Erstelle DREI verschiedene Angebote (Basis, Standard, Premium) für:\n\nVon: @{items('Process_Filtered_Emails')['from']}\nBetreff: @{items('Process_Filtered_Emails')['subject']}\n\nAnfrage:\n@{items('Process_Filtered_Emails')['body']}\n\nBitte verwende die Informationen aus der Wissensdatenbank (AgentVectorStore_20651) für:\n- Authentische syrische Menü-Details aus 'Full Menu and Food and Drinks Options'\n- Geschäftsprozess-Logik aus 'Catering Agent für Fadi - Beschreibung'\n- E-Mail-Format aus 'JC-Email-Template.pdf'"
                  }
                ],
                "temperature": 0.3,
                "max_tokens": 2500
              }
            }
          },
          "Store_Enhanced_Email_Draft": {
            "type": "Compose",
            "inputs": {
              "emailId": "@{items('Process_Filtered_Emails')['id']}",
              "originalEmail": "@items('Process_Filtered_Emails')",
              "vectorStore": "AgentVectorStore_20651",
              "documentsUsed": [
                "Catering Agent für Fadi - Beschreibung (343.49 KB)",
                "Full Menu and Food and Drinks Options (54.83 KB)",
                "JC-Email-Template.pdf (63.51 KB)"
              ],
              "draftResponse": "@{body('Generate_AI_Response_With_RAG')?['choices'][0]['message']['content']}",
              "processedAt": "@{utcNow()}",
              "status": "foundry_rag_draft_created",
              "ragEnabled": true
            },
            "runAfter": {
              "Generate_AI_Response_With_RAG": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Filter_Target_Emails": ["Succeeded"]
        }
      },
      "Create_Enhanced_Summary": {
        "type": "Compose",
        "inputs": {
          "runId": "@{workflow().run.name}",
          "totalEmails": "@length(variables('EmailQueue'))",
          "filteredEmails": "@length(body('Filter_Target_Emails'))",
          "targetAddress": "ma3u-test@email.de",
          "ragEnabled": true,
          "vectorStore": "AgentVectorStore_20651",
          "aiFoundryProject": "jasmin-catering",
          "documentsInVectorStore": 3,
          "processedAt": "@{utcNow()}"
        },
        "runAfter": {
          "Process_Filtered_Emails": ["Succeeded", "Failed", "Skipped"]
        }
      }
    },
    "outputs": {}
  }
}