deployments/logic-apps/test-emails-workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "apiKey": {
        "type": "securestring",
        "defaultValue": "@{parameters('apiKey')}"
      }
    },
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Minute",
          "interval": 5
        }
      }
    },
    "actions": {
      "Initialize_Email_Queue": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{
            "name": "EmailQueue",
            "type": "array",
            "value": [
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-001')}",
                "from": "anna.schmidt@techfirma.de",
                "to": "ma3u-test@email.de",
                "subject": "Catering für Weihnachtsfeier",
                "body": "Guten Tag,\n\nwir suchen ein Catering für unsere Weihnachtsfeier am 15. Dezember 2025.\n- Anzahl Gäste: 80 Personen\n- Ort: München\n- Budget: flexibel\n- Besonderheit: Viele vegetarische Gäste\n\nBitte um ein Angebot mit verschiedenen Optionen.\n\nMit freundlichen Grüßen,\nAnna Schmidt",
                "receivedTime": "@{utcNow()}"
              },
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-002')}",
                "from": "markus.weber@startup.com",
                "to": "ma3u-test@email.de",
                "subject": "Kleines Business Lunch",
                "body": "Hallo,\n\nich brauche Catering für ein Business Lunch:\n- 12 Personen\n- Nächsten Dienstag\n- Berlin Mitte\n- Halal und koscher Optionen wichtig\n\nWas können Sie anbieten?\n\nBeste Grüße,\nMarkus",
                "receivedTime": "@{utcNow()}"
              },
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-003')}",
                "from": "sarah.mueller@wedding.de",
                "to": "ma3u-test@email.de",
                "subject": "Hochzeits-Catering Anfrage",
                "body": "Sehr geehrte Damen und Herren,\n\nwir heiraten am 20. Juni 2025 und suchen ein besonderes Catering.\n\nDetails:\n- 120 Gäste\n- Location: Schloss Charlottenburg\n- Stil: Elegantes Buffet\n- Budget: 60-70€ pro Person\n- Wunsch: Mischung aus syrischen und deutschen Gerichten\n\nKönnen Sie uns ein detailliertes Angebot mit Menüvorschlägen zusenden?\n\nVielen Dank im Voraus,\nSarah & Thomas Müller",
                "receivedTime": "@{utcNow()}"
              },
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-004')}",
                "from": "info@kulturverein.org",
                "to": "ma3u-test@email.de",
                "subject": "Catering für Kulturfestival",
                "body": "Hallo Jasmin Catering Team,\n\nunser Verein organisiert ein multikulturelles Festival.\n\nEckdaten:\n- Datum: 3.-4. August 2025\n- Erwartete Besucher: 200-300 pro Tag\n- Art: Street Food Stand\n- Fokus: Authentische syrische Küche\n\nWir benötigen:\n- Fingerfood und kleine Portionen\n- Vegetarische/vegane Optionen\n- Preise für Endkunden zwischen 5-10€\n\nBitte senden Sie uns Ihr Konzept und Konditionen.\n\nMfG,\nKulturverein Berlin e.V.",
                "receivedTime": "@{utcNow()}"
              },
              {
                "id": "@{concat('email-', utcNow('yyyyMMddHHmmss'), '-005')}",
                "from": "peter.lange@familie.de",
                "to": "ma3u-test@email.de",
                "subject": "Geburtstagsfeier Catering",
                "body": "Guten Tag,\n\nich plane eine Überraschungsparty für meine Frau (50. Geburtstag).\n\n- Datum: 10. Mai 2025\n- Gäste: 35 Personen\n- Zuhause in Potsdam\n- Nachmittags Kaffee & Kuchen, abends warmes Buffet\n- Einige Gäste haben Allergien (Nüsse, Gluten)\n\nWas würden Sie empfehlen? Liefern Sie auch nach Potsdam?\n\nViele Grüße,\nPeter Lange",
                "receivedTime": "@{utcNow()}"
              }
            ]
          }]
        },
        "runAfter": {}
      },
      "Filter_Target_Emails": {
        "type": "Query",
        "inputs": {
          "from": "@variables('EmailQueue')",
          "where": "@equals(item()['to'], 'ma3u-test@email.de')"
        },
        "runAfter": {
          "Initialize_Email_Queue": ["Succeeded"]
        }
      },
      "Process_Filtered_Emails": {
        "type": "Foreach",
        "foreach": "@body('Filter_Target_Emails')",
        "actions": {
          "Generate_AI_Response": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://swedencentral.api.cognitive.microsoft.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-02-01",
              "headers": {
                "Content-Type": "application/json",
                "api-key": "@parameters('apiKey')"
              },
              "body": {
                "messages": [
                  {
                    "role": "system",
                    "content": "Du bist der Kundenberater von Jasmin Catering, einem syrischen Fusion-Catering in Berlin. Erstelle professionelle, personalisierte Angebote auf Deutsch für Catering-Anfragen.\n\nWichtige Informationen:\n- Preise: 35-45€ pro Person für Standard-Events, 50-70€ für Premium-Events\n- Liefergebiet: Berlin und Umgebung (bis 50km)\n- Spezialität: Syrische Fusion-Küche\n- Optionen: Halal, vegetarisch, vegan verfügbar\n- Mindestbestellung: 10 Personen\n\nErstelle immer drei Angebotsoptionen: Basis, Standard und Premium."
                  },
                  {
                    "role": "user",
                    "content": "Erstelle ein detailliertes Angebot für folgende Anfrage:\n\nVon: @{items('Process_Filtered_Emails')['from']}\nBetreff: @{items('Process_Filtered_Emails')['subject']}\n\nAnfrage:\n@{items('Process_Filtered_Emails')['body']}\n\nBitte erstelle ein professionelles Angebot mit drei Optionen (Basis, Standard, Premium) und gehe auf alle spezifischen Anforderungen ein."
                  }
                ],
                "temperature": 0.3,
                "max_tokens": 2000
              }
            }
          },
          "Store_Email_Draft": {
            "type": "Compose",
            "inputs": {
              "emailId": "@{items('Process_Filtered_Emails')['id']}",
              "originalEmail": "@items('Process_Filtered_Emails')",
              "draftResponse": "@{body('Generate_AI_Response')?['choices'][0]['message']['content']}",
              "processedAt": "@{utcNow()}",
              "status": "draft_created"
            },
            "runAfter": {
              "Generate_AI_Response": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Filter_Target_Emails": ["Succeeded"]
        }
      },
      "Create_Summary": {
        "type": "Compose",
        "inputs": {
          "runId": "@{workflow().run.name}",
          "totalEmails": "@length(variables('EmailQueue'))",
          "filteredEmails": "@length(body('Filter_Target_Emails'))",
          "targetAddress": "ma3u-test@email.de",
          "processedAt": "@{utcNow()}"
        },
        "runAfter": {
          "Process_Filtered_Emails": ["Succeeded", "Failed", "Skipped"]
        }
      }
    },
    "outputs": {}
  }
}